##########################################
################ FrontEnd ################
##########################################

# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage
frontend/versions

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# local env files
frontend/.env*.local
frontend/.env

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts


##########################################
################# BackEnd ################
##########################################

# Compiler files
backend/cache/
backend/out/
backend/lib/

# Ignores development broadcast logs
backend/broadcast/
backend/broadcast/*
backend/!/broadcast
backend/broadcast/*/31337/
backend/broadcast/**/dry-run/

# Dotenv file
backend/.env

# Foundry Files
backend/docs/
backend/.gas-snapshot
backend/lcov.info
backend/coverage-report.txt
backend/report.md

# Custom Foundry Files
backend/MAKE_CLI_INPUT_VALUE.tmp

# Mac OS Files
backend/.DS_Store
.DS_Store